.input-group {
  margin: 1rem 0;
  position: relative;
  width: 50rem;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input {
  width: 100%;
  max-width: 500px; /* Limiting the width to 500px */
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0;
  outline: none;
  font-size: 1.2rem;
}

.input-group input:focus {
  border-color: #aaa;
}

.input-group span {
  color: red;
}
